%html
  %head
    %title Extreme Startup - Oversikt
    %link(rel="stylesheet" href="/css/bootstrap.css")
    %link(rel="stylesheet" href="/css/signin.css")
  %head
  %body


    %form{:class=>"form-signin", :action => "/players", :method => "post"}
      %h1 Ny deltager!
      %input{ :class => "input-block-level", :placeholder=> "Navn", :type => "text", :id => "name", :name => "name" }
      %input{ :class => "input-block-level", :placeholder=> "URL", :type => "text", :id => "url", :name => "url" }
      %input{ :class =>"btn btn-large btn-primary", :type => "submit", :value => "Klar!"}
      

