%html
  %head
    %title Startup - Kontrollpanel
    %link(rel="stylesheet" href="/css/bootstrap.css")
    %link(rel="stylesheet" href="/css/main.css")


  %body
    .container-narrow
      .jumbotron
        %h1 Nåværende runde: #{round}
        %form
          %input#reduce{:type => "button", :class=>"btn btn-primary", :value => "Forrige runde"}
          %input#advance{:type => "button", :class=>"btn btn-primary", :value => "Neste runde"}

          - if (game_state.is_running?)
            %input#pause{:type => "button", :class=>"btn btn-danger", :value => "Pause"}
          - else
            %input#resume{:type => "button", :class=>"btn btn-success", :value => "Fortsett"}

    %script{:type => "text/javascript", :src  => "/js/jquery-1.6.2.min.js"}
    %script{:type => "text/javascript", :src  => "/js/controlpanel.js"}