%html
  %head
    %title Extreme Startup - Oversikt
    %link(rel="stylesheet" href="/css/bootstrap.css")
    %link(rel="stylesheet" href="/css/main.css")
  %body

    %div{:class => "navbar navbar-inverse navbar-fixed-top"}
      %div{:class=>"navbar-inner"}
        %div{:class=>"container"}
          %button{:type=>"button", :class => "btn btn-navbar", :data => "collapse", :data => ".nav-collapse"}
            %span{:class=>"icon-bar"}
            %span{:class=>"icon-bar"}
            %span{:class=>"icon-bar"}       
          %div{:class=>"nav-collapse collapse"}
            %ul{:class=>"nav"}
              %li
                %a{ :href=>"/graph"}Oversikt  
              %li{:class =>"active"}
                %a{ :href=>"/nograph"}Uten graf og bling
            %ul{:class=>"nav pull-right"}  
              %li
                %a{:href=>"/samples.zip"}
                  %i{:class=>"icon-download-alt icon-white"}
                  Startkit

    .container-narrow
      .jumbotron
        %img(src="/img/milescamp.png" width="500px") 
        %h2 Extreme Startup
        %a{ :href => '/players', :class =>"btn btn-large btn-success"}
          Jeg vil være med!
        %p &nbsp;
        %table{:class => "table table-striped"}
          - leaderboard.each do |entry|
            %tr.player
              %td
                %a{ :href => "/players/#{entry.playerid}" } #{html_escape(entry.playername)}
              %td{:style=>'text-align: right'} #{entry.score} poeng
  
      :javascript
        refresh = function() { window.location.reload(); };
        setTimeout(refresh, 2000);

   
